<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="per.magnus.dust.business.mapper.MissionMapper">
    <select id="selectMissionById" parameterType="long" resultType="per.magnus.dust.business.domain.Mission">
        select id, name, content, create_time, status, deadline_time from dust_mission where id=#{id}
    </select>

    <insert id="insertMission" parameterType="per.magnus.dust.business.domain.Mission" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into dust_mission(name, content, status,create_time, deadline_time) value(#{name}, #{content}, #{status},
        #{createTime}, #{deadLineTime})
    </insert>

    <delete id="deleteMissionById" parameterType="long">
        delete from dust_mission where id=#{id}
    </delete>

    <select id="selectMissionForUpdate" parameterType="long">
        select id from dust_mission where id=#{id} for update
    </select>

    <update id="updateMissionStatus">
        update dust_mission set status=#{mission.status} where id=#{mission.id}
    </update>

    <resultMap type="per.magnus.dust.business.domain.Mission" id="mission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="deadline_time" property="deadLineTime"/>
    </resultMap>

    <resultMap type="per.magnus.dust.business.domain.UserMission" id="userMission">
        <id column="user_id" property="id"/>
        <result column="name" property="name"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="deadline_time" property="deadLineTime"/>
    </resultMap>
</mapper>