<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="per.magnus.dust.business.mapper.TagMapper">
    <select id="queryTags" resultType="java.util.List" resultMap="tag">
        select * from dust_tag
    </select>

    <resultMap id="tag" type="per.magnus.dust.business.domain.Tag">
        <result javaType="java.lang.Long" column="id" property="id"/>
        <result javaType="java.lang.String" column="name" property="name"/>
        <result javaType="java.lang.Integer" column="type" property="type"/>
    </resultMap>

    <select id="queryTagsByType" resultMap="tag" resultType="java.util.List">
        select * from dust_tag where type=#{type}
    </select>
</mapper>